/*
float 
position
media-queries
z-index
::before ::after pseudo elements
 */

.banner {
  border: 5px solid red;
  padding: 10px;
}

.one {
  float: left;
}
.two {
  float: right;
  height: 40px;
}

p {
  clear: both;
  /* both for having left and right floats */
}
