/* 
transition: change over time
transition-property
transition-duration
*/
/* transition-delay */
div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.one {
  background: dodgerblue;
}
/* div:hover {
  background: deepskyblue;
} */
.two {
  background: cornflowerblue;
}
.three {
  background: blueviolet;
  /* transition-property: background, border-radius;
  transition-duration: 0.8s, 1s;
  transition-delay: 0.2s;*/
  transition: background 2s 1s, border-radius 3s 2s;
  /* use all property if you have same values */
}

.three:hover {
  border-radius: 50%;
  background: deepskyblue;
  transform: scale(1.2);
}
